.logo {
	float: left; 
	color: #fff; 
	margin-left: 50px; 
}

.insite {
	position: absolute; 
	top:15px; 
	right: 50px; 
}

.header {
	background-color: #000000; 
	height: 60px; 
}

.insite a {
	color: #fff;
}


.bg-header {

	background-image: url(../img/img_01.jpg); 
	background-size: cover; 
	height: 500px;
	text-align: center;
}

li {
	float: left;
}

.menu {
	background-color: black;
}

ul {
	height: 50px;
	list-style-type: none;
}

.menu a {

}